#tabla {
	margin: 20px auto;
	border: #000 2px solid;
}
table {  color: #333; font-family: Helvetica, Arial, sans-serif; width: 640px; border-collapse: collapse;}
td, th { border: 1px solid transparent; height: 30px; }
th { background: #D3D3D3; font-weight: bold; }
td { background: #FAFAFA; text-align: center; }
tr:nth-child(even) td { background: #F1F1F1; }  
tr:nth-child(odd) td { background: #FEFEFE; } 
tr td:hover { background: #666; color: #FFF; }
#consulta{
	margin: 20px auto;
	width: 90%; 
	height: 300px; 
	overflow: scroll;
	padding-top:30px; 
}
#tabla td{
	margin: 20px auto;
	border: #000 2px solid;
}
